
header{
  background-color: #8cc63f;
  border-bottom: 1px solid darkgrey;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

a:hover { 
  color: #2F4F4F;
}

nav li a:visited{
  color: #ffffff;
}