body *{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: darkslategrey;
  padding:0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: #FFFFFF;

}

main {
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:30px;
}
